button{
    cursor: pointer;
}

#communityPage{
    margin-top: 30px;
    margin-left: 3vw;
    width: 100%;
    height: 100%;
    background-color: #F3EDEC;
    box-shadow: 0 0 4px 1px rgb(168, 168, 168);
    border-radius: 20px;
}

#communityPageSelect{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#goToAnnounceButton, #goToFreeButton, #goToShareButton{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background-color: rgba(124, 157, 146, 0.578);
    box-shadow: 0 0 5px 2px rgba(41, 38, 38, 0.527);
}

#goToShareButton{
    width: 130px;
}

#goToAnnounceButton{
    width: 80px;
}

#goToFreeButton{
    width: 90px;
}

#boardList, #boardDetail{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 50%;
}

.communityBoard{
    padding: 20px;
    margin: 20px auto 0;
    width: 90%;
    height: calc(100% - 70px);
}


/*공지사항*/

#announce{
    display: flex;
}

#announceList{
    border-radius: 10px;
    background-color: rgba(213, 213, 213, 0.503);
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: bold;
}

#announceList span:nth-child(1){
    margin-left: 200px;
}

#announceWriteButton{
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(186, 200, 195, 0.578);
    border: none;
    border-radius: 7px;
    float: right;
    display: none;
}



/*자유게시판*/

#free{
    display: none;
}

#freeList{
    border-radius: 10px;
    background-color: rgba(213, 213, 213, 0.503);
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: bold;
}

#freeList span:nth-child(1){
    margin-left: 200px;
}

#freeList span:nth-child(2){
    margin-left: auto;
    margin-right: 30px;
}

#freeWriteButton{
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(186, 200, 195, 0.578);
    border: none;
    border-radius: 7px;
    float: right;
}


/*레시피 공유 게시판*/

#share{
    display: none;
}

#shareList{
    border-radius: 10px;
    background-color: rgba(213, 213, 213, 0.503);
    height: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    font-weight: bold;
}

#shareList span:nth-child(1){
    margin-left: 200px;
}

#shareList span:nth-child(2){
    margin-left: auto;
    margin-right: 30px;
}

#shareWriteButton{
    margin-top: 20px;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(186, 200, 195, 0.578);
    border: none;
    border-radius: 7px;
    float: right;
}






#boardDetail{
    display: none;
}

#boardList{
    display: flex;
}

#write{
    display: none;
}

@media (max-width: 1279px){
    #announceList span:nth-child(1){
        margin-left: 100px;
    }

    #freeList span:nth-child(1){
        margin-left: 100px;
    }

    #shareList span:nth-child(1){
        margin-left: 100px;
    }
}

@media (max-width: 767px){
    #announceList span:nth-child(1),
    #freeList span:nth-child(1),
    #shareList span:nth-child(1){
        margin-left: 30px;
    }

    #communityPageSelect{
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #goToAnnounceButton, #goToFreeButton, #goToShareButton{
        margin-left: 10px;
    }


}