button{
    cursor: pointer;
}

#ingredientsPage{
    margin-top: 30px;
    margin-left: 3vw;
    width: 100%;
    height: 100%;
    background-color: #F3EDEC;
    box-shadow: 0 0 4px 1px rgb(168, 168, 168);
    border-radius: 20px;
}

#searchAndButton{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

#searchAndButton form{
    height: 60%;
    width: 60%;
    background-color: rgba(124, 157, 146, 0.578);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#food-search-button{
    margin-left: 10px;
    width: 3%;
    background: none;
    border: none;
    height: 50%;
    background-image: url("../images/searchBtn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#food-search-box{
    width: 85%;
    background-color: rgba(124, 157, 146, 0);
    outline: none;
    border: none;
}

#food-reset-button{
    margin-right: 10px;
    background: none;
    border: none;
    width: 3%;
    height: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/resetBtn.svg");
}

#foodInputButton{
    box-shadow: 0 0 4px 4px gray;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-image: url("../images/plus.svg");
}

#ingredientsLists{
    margin: 20px auto;
    width: 90%;
    height: 70%;
    border: 1px solid #000000;
    overflow: auto;
}

#ingredientsLists div{
    
    background-color: gray;
}

