/*로그인 페이지*/

/*공통*/
button{
    cursor: pointer;
}

#loginPage{
    margin-top: 30px;
    margin-left: 3vw;
    width: 100%;
    height: 100%;
    background-color: #F3EDEC;
    box-shadow: 0 0 4px 1px rgb(168, 168, 168);
    border-radius: 20px;
}

#loginPageSelect{
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#goToLoginButton, #goToJoinButton{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: rgba(124, 157, 146, 0.578);
    box-shadow: 0 0 5px 2px rgba(41, 38, 38, 0.527);
}

h1{
    align-self: flex-start;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 4vw;
    font-style: italic;
}

.form-container{
    display: flex;
    justify-content: center;
}

form{
    width: 300px;
    height: 100px;
}

form a{
    margin-top: 8px;
    float: right;
    text-decoration: none;
}

label:not(#checkBoxLabel){
    margin-left: 5px;
    background-color: rgba(124, 157, 146, 0.578);
    font-weight: bold;
    border-radius: 5px;
    display: block;
    width: 70px;
    text-align: center;
    padding: 5px
}

.container{
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
}


/*로그인*/
#login{
    display: flex;
}

#loginForm{
    margin-top: 80px;
}

.loginInputBox{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
}

#loginEmailBox{
    margin-bottom:30px;
}

#checkBoxLabel{
    position: relative;
}

#rememberCheckBox, form p, #checkCustom{
    margin-top: 10px;
}

#rememberCheckBox{
    cursor: pointer;
    opacity: 0;
}

#rememberCheckBox:checked + #checkCustom{
    background-image: url("../images/checkBox-checked.svg");
}

#checkCustom{
    position: absolute;
    top: -10;
    left: 0;
    margin-left: 5px;
    height: 15px;
    width: 15px;
    background-image: url("../images/checkBox.svg");
    background-size: cover;
}

#loginSubmit{
    display: block;
    clear: both;
    margin: 30px auto 0;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 1px #505050;
    background-color: rgba(186, 200, 195, 0.578);
}




/*회원가입*/
#join{
    display: none;
}

#joinForm{
    margin-top: 50px;
}

.joinInputBox{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
}

#joinNameBox{
    margin-bottom: 30px;
}

.joinCheck{
    margin: 5px 0;
    text-align: right;
    font-size: 10px;
    color: red;
}

#joinSubmit{
    display: block;
    clear: both;
    margin: 20px auto 0;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 1px #505050;
    background-color: rgba(186, 200, 195, 0.578);
}


/*계정찾기*/

#find{
    display: none;
}

#findForm{
    margin-top: 50px;
}

.findInputBox{
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
}

#findSubmit{
    display: block;
    margin: 20px auto 0;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 1px #505050;
    background-color: rgba(186, 200, 195, 0.578);
}

@media (max-width: 1279px) {

}


@media (max-width: 767px) {
    #loginPageSelect{
        padding-left: 0;
    }
}