:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #999ba8;
  --gray-dark: #252631;
  --primary: #444bf8;
  --secondary: #00c9a7;
  --success: #00ed96;
  --info: #2cd2f6;
  --warning: #f1be25;
  --danger: #f12559;
  --light: #fafbff;
  --dark: #252631;
  --light-grey: #e8eaf3;
  --grey: #999ba8;
  --primary-soft: #e9eafd;
  --secondary-soft: #c9f2e9;
  --info-soft: #e9fafe;
  --success-soft: #e5fdf4;
  --danger-soft: #fde9ee;
  --warning-soft: #fdf8e9;
  --dark-soft: #2f303d;
  --facebook: #3b5998;
  --twitter: #66c3ff;
  --slack: #77d4b6;
  --linkedin: #007ebb;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

body {
    width: 100%; 
    overflow-x: hidden;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1b1e24;
    text-align: left;
    background-color: #fafbff;
    font-size: .9375rem;
}

.u-header {
  min-height: 3.25rem;
  position: relative;
  left: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  background-color: #fff;
}

.u-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252631;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-left: .5rem;
  padding-right: .5rem;
}

.u-header-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
}

.u-header-logo:hover, .u-header-logo:active, .u-header-logo:focus {
  outline: 0 none;
  color: rgba(255, 255, 255, 0.7);
}

.u-header-logo__icon {
  margin-right: 0.15rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.u-header:not(.u-header--error-page) .u-header-logo__text {
  display: none;
}














.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0 0;
    margin: 0.5rem 0 0;
    font-size: 0.9375rem;
    color: #1b1e24;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #eaf2f9;
    border-radius: 0.25rem;
  }

.ti-search:before {
	content: "\e610";
}





::selection {
  color: #fff;
  background-color: #444bf8;
}



/* 반응형 - 헤더전체 */
@media (max-width: 767.98px) {
  .u-header {
    -webkit-transition: left .2s ease-in;
    -o-transition: left .2s ease-in;
    transition: left .2s ease-in;
  }
}

@media (min-width: 992px) {
  .u-header {
    position: static;
    min-height: 4rem;
  }
}

/* 반응형 - 헤더 로고 */
@media (max-width: 767.98px) {
  .u-header-left {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    -webkit-transition: width .2s ease-in, padding .2s ease-in;
    -o-transition: width .2s ease-in, padding .2s ease-in;
    transition: width .2s ease-in, padding .2s ease-in;
  }
}

@media (min-width: 768px) {
  .u-header-left {
    width: 4.19rem;
  }
}

@media (min-width: 992px) {
  .u-header-left {
    width: 15rem;
    text-align: left;
    -webkit-transition: width .2s ease-in;
    -o-transition: width .2s ease-in;
    transition: width .2s ease-in;
  }
}

@media (min-width: 992px) {
  .u-header:not(.u-header--error-page) .u-header-logo__text {
    display: inline;
    max-width: 8rem;
    opacity: 1;
    margin-left: 0.15rem;
    margin-right: 0.15rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
}

